.sandstone-theme {
  /* Skin Name: Untitled; */
  --sand-bg-color: #272829;
  --sand-text-color: #e7e7e7;
  --sand-text-sub-color: #acb0b5;
  --sand-shadow-color-rgb: 0, 0, 0;
  --sand-component-text-color: #e6e6e6;
  --sand-component-bg-color: #7d848c;
  --sand-focus-text-color: #303030;
  --sand-focus-bg-color: #e7e7e7;
  --sand-component-focus-text-color-rgb: 76, 80, 89;
  --sand-selected-color-rgb: 230, 230, 230;
  --sand-selected-text-color: #e6e6e6;
  --sand-selected-bg-color: #61688f;
  --sand-disabled-focus-bg-color: #abaeb3;
  --sand-disabled-selected-color: #4c5059;
  --sand-disabled-selected-bg-color: #e6e6e6;
  --sand-disabled-selected-focus-color: #e6e6e6;
  --sand-disabled-selected-focus-bg-color: #4c5059;
  --sand-fullscreen-bg-color: #000000;
  --sand-overlay-bg-color-rgb: 36, 36, 36;
  --sand-selection-color: #4c5059;
  --sand-selection-bg-color: #3399ff;
  --sand-toggle-off-color: #afb0b0;
  --sand-toggle-off-bg-color: #474747;
  --sand-toggle-on-color: #e6e6e6;
  --sand-toggle-on-bg-color: #61688f;
  --sand-progress-color-rgb: 230, 230, 230;
  --sand-progress-buffer-color: #6b6d73;
  --sand-progress-bg-color: #373a41;
  --sand-progress-slider-color: #8d9298;
  --sand-checkbox-color: #e6e6e6;
  --sand-item-disabled-focus-bg-color: #e6e6e6;
  --sand-keyguide-bg-color-rgb: 107, 109, 115;
  --sand-alert-overlay-bg-color-rgb: 202, 203, 204;
  --sand-alert-overlay-text-color: #2e3239;
  --sand-alert-overlay-text-sub-color: #2e3239;
  --sand-alert-overlay-focus-text-color: #575e66;
  --sand-alert-overlay-disabled-selected-color: #ffffff;
  --sand-alert-overlay-disabled-selected-bg-color: #788688;
  --sand-alert-overlay-disabled-selected-focus-color: #e6e6e6;
  --sand-alert-overlay-disabled-selected-focus-bg-color: #4c5059;
  --sand-alert-overlay-progress-color-rgb: 107, 109, 115;
  --sand-alert-overlay-progress-bg-color: #a1a1a1;
  --sand-alert-overlay-checkbox-color: #858b92;
  --sand-alert-overlay-checkbox-disabled-selected-color: #ffffff;
  --sand-alert-overlay-formcheckboxitem-focus-text-color: #575e66;
  --sand-alert-overlay-item-disabled-focus-bg-color: #989ca2;
}
