.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper .radarchart {
  height: 40%;
  width: 40%;
}
.wrapper .verticalbarchart {
  margin-top: 6%;
  height: 70%;
  width: 50%;
}