.baby-mode {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .baby-mode-count {
    height: 60%;
  }

  .baby-mode-wrapper {
    display: flex;

    .baby-mode-side {
      display: flex;
      flex-direction: column;
      .btn {
        color: #1b2430;
        height: 100px;
        width: 300px;
        margin-bottom: 100px;
        background-color: transparent;
        border: none;
      }
    }

    .baby-mode-live {
      height: 100%;
    }
  }
}
