.baby-mode {
  .baby-mode-img {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 14rem;
      width: 14rem;
      filter: invert(97%) sepia(9%) saturate(971%) hue-rotate(2deg)
        brightness(91%) contrast(85%);
    }
  }

  .baby-mode-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
