.mainPanel {
  height: 100%;

  .header-wrapper {
    width: 100%;
    padding: 1rem;
    display: flex;
    // justify-content: center;
    align-items: center;
    img {
      height: 300px;
      width: 300px;
    }

    .header-title {
      width: 200rem;
      margin-left: 2rem;
      text-align: left;
      font-size: 4rem;
    }
    .header-prop {
      width: 100%;
    }
  }

  .sleep-cycle-wrapper {
    background: white;
  }
}
