.setting {
  .all-sleep-header {
    height: 100%;
    padding: 1.5rem;

    .all-sleep-title {
      display: flex;
      align-items: center;

      img {
        height: 150px;
        width: 150px;
      }

      .all-sleep-title-text {
        padding-left: 1rem;
        padding-right: 5rem;
        font-size: larger;
      }
    }
  }
  .switch {
    width: 100%;
    height: 100%;
    .switch-line {
      display: flex;
      justify-content: space-evenly;
      .switch-block {
        display: inline-block;
        width: 15rem;

        .switch-text {
          display: inline-block;
          width: 8rem;
        }
      }
    }
  }

  .alarm {
    .alarm-header {
      padding: 3rem;
      display: flex;
      justify-content: center;
    }

    .alarm-btn {
      display: flex;
      justify-content: center;
    }
  }

  .cctv {
    .cctv-header {
      padding: 3rem;
      display: flex;
      justify-content: center;
    }

    .cctv-live {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
