.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  .radarchart {
    height: 40%;
    width: 40%;
  }
  .verticalbarchart {
    margin-top: 6%;
    height: 70%;
    width: 50%;
  }
}
